body {
    padding-top: 60px;
}

pre {
    margin-bottom: 15px;
}

li {
    margin-bottom: 5px;
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.navbar .nav {
    float: right;
}

/* posts index */
.post > h3.title {
    position: relative;
    padding-top: 10px;
}

.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em;
}

.post > .more {
    margin: 10px 0;
    text-align: left;
}

/* post-full*/
.post-full .date {
    font-weight: bold;
    text-align: right;
}


/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden;
}

.tag_box li {
    line-height: 28px;
}

.tag_box li i {
    opacity: 0.9;
}

.tag_box.inline li {
    float: left;
}

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc;
}

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em;
}

.tag_box a:hover {
    background-color: #e5e5e5;
}

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF;
}

iframe {
    border: 0;
}

.clip-bottom {
    margin-bottom: 0px;
}

.no-wrap {
    white-space: nowrap;
}

/** Custom thumbnails */
.thumbnails {
    vertical-align: central;
    text-align: center;
}
.thumbnails li {
    height: auto;
    display: inline-block;
    float: none;
    zoom: 1;
    margin: 7px;
}

.thumbnails img {
    border: 1px solid #000;
}

p {
    margin-bottom: 12px;
}

div.content > p > a > img {
    border: #000 1px solid;
}

div.content > div.page-header > h3 {
    font-size: 22px;
}

div.content > div.page-header > h4 {
    font-size: 18px;
}

